/* Header */
header {
	height: 450px;
	background: url('assets/images/hero-bg.jpg') center center;
	background-size: cover;
}

header .logo svg {
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px 0 0 30px;
}

header nav {
	float: right;
	margin: 30px 30px 0 0;
}

header nav a {
	display: inline-block;
	margin-left: 20px;
	color: rgba(0,0,0,0.5);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

header nav a:hover {
	color: rgba(0,0,0,0.7);
}

header h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 72px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	clear: both;
	padding-top: 100px;
}

header h1 span {
	display: inline-block;
	padding: 0.2em 0.5em;
	border: white solid 10px;
}

header .kicker {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: white;
	line-height: 1;
}

/* Footer */

footer {
	background: url(assets/images/hero-bg.jpg) center center;
	background-size: cover;
	clear: both;
}

footer .lockup {
	padding: 50px 30px;
	display: flex;
	align-items: center;
}

footer .lockup .logo svg {
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 30px;
}

footer .lockup .content-wrapper {
  	float: left; 
}

footer .lockup .content-wrapper .copyright {
 	margin: 0;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
 	color: rgba(0, 0, 0, 0.4); 
}

footer .lockup .content-wrapper a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	display: inline-block;
	margin-right: 30px; 
}

footer .lockup .content-wrapper a:hover {
  	color: rgba(0, 0, 0, 0.7); 
}

/* About Face and Icons */

section h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e1c184;
	text-align: center;
	padding: 100px 0 30px;
}

section .face-lockup {
	max-width: 780px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

section .face-lockup .face-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	order: 3;
}

section .face-lockup .icon-pencil {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #e5eaee;
	border-radius: 50%;
	order: 1;
}

section .face-lockup .icon-mouse {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #e5eaee;
	border-radius: 50%;
	order: 2;
}

section .face-lockup .icon-browser {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #e5eaee;
	border-radius: 50%;
	order: 4;
}

section .face-lockup .icon-video {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #e5eaee;
	border-radius: 50%;
	order: 5;
}

@media screen and (max-width: 650px) {
	section .face-lockup {
		display: block;
		text-align: center;
	}
}

@media screen and (max-width: 650px) {
	section .face-lockup div {
		display: inline-block;
	}
}

@media screen and (max-width: 650px) {
	section .face-lockup .face-img {
		display: block;
		background-repeat: no-repeat;
		margin: 30px auto;
	}
}
/* About Me blurb */
section .blurb {
	max-width: 620px;
	padding: 0 15px;
	margin: 50px auto;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
/* About Skills */
section .skill-lockup {
	max-width: 700px;
	margin: 100px auto;
	color: #999;
}

section .skill-lockup .skill-unit {
	width: 350px;
	float: left;
}

section .skill-lockup .skill-unit .skill-label {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

section .skill-lockup .skill-unit .skill-icons {
	margin: 2px 0 30px;
}

section .skill-lockup .skill-unit .skill-icons span {
	display: inline-block;
	height: 14px;
	width: 14px;
	margin: 0 6px;
	background-color: #c99065;
	border-radius: 50%;
}

section .skill-lockup .skill-unit .skill-icons span:after {
	content: '';
	display: block;
	height: 10px;
	width: 10px;
	margin: 2px;
	background: #fff;
	border-radius: 50%;
}

section .skill-lockup .skill-unit .skill-icons.skill-4 span:nth-child(n+5), section .skill-lockup .skill-unit .skill-icons.skill-5 span:nth-child(n+6), section .skill-lockup .skill-unit .skill-icons.skill-6 span:nth-child(n+7), section .skill-lockup .skill-unit .skill-icons.skill-7 span:nth-child(n+8), section .skill-lockup .skill-unit .skill-icons.skill-8 span:nth-child(n+9), section .skill-lockup .skill-unit .skill-icons.skill-9 span:nth-child(n+10), section .skill-lockup .skill-unit .skill-icons.skill-10 span:nth-child(n+11) {
	background: #D1CFD1;
}

@media (max-width: 714px) {
	section .skill-lockup {
		width: 350px;
		margin: 100px auto;
	}
}




























